<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">

    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form method="post" class="d-flex" enctype="multipart/form-data">

                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="item info.." aria-label="Search" name="item_name">
                <button class="btn btn btn-primary" type="submit" name="add_item">Add</button>

            </form>

            <form method="post" class="d-flex" enctype="multipart/form-data">

                {% csrf_token %}
                <button class="btn btn btn-danger" type="submit" name="clear_items">Clear all items</button>

            </form>

        </div>

    </div>

</nav>

<div class="row">

    <div class="col-sm-6">

        {% if not master_items %}
        <h2 class="text-center">MASTER ITEMS IS EMPTY</h2>
        {% else %}
        <h2 class="text-center">MASTER ITEMS</h2>
        {% endif %}

        {% for item in master_items %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">something text...</p>
            </div>

        </div>
        {% endfor %}

    </div>

    <div class="col-sm-6">

        {% if not replica_items %}
        <h2 class="text-center">REPLICA ITEMS IS EMPTY</h2>
        {% else %}
        <h2 class="text-center">REPLICA ITEMS</h2>
        {% endif %}

        {% for item in replica_items %}
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">something text...</p>
            </div>

        </div>
        {% endfor %}

    </div>

</div>

</body>
</html>